force-app/main/default/flows/DF23_Sample_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Ready_for_Processing</name>
        <label>Ready for Processing?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sample_Stage_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DF23 - Sample Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DF23 - Sample Orchestration</label>
    <orchestratedStages>
        <name>Sample_Stage_1</name>
        <label>Sample Stage 1</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Ready_for_Processing</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
    </orchestratedStages>
    <orchestratedStages>
        <name>Sample_Stage_2</name>
        <label>Sample Stage 2</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <exitConditionLogic>and</exitConditionLogic>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sample_Stage_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
