force-app/main/default/flows/DPA_Screen_Flow_Vehicle_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>set_Payment_Type</name>
        <label>set Payment Type</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputPaymentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_payment_type</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Loan</name>
        <choiceText>Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_payment_type</name>
        <label>Check payment type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>isLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Calculator</targetReference>
            </connector>
            <label>Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle_Status</name>
        <label>Check Vehicle Status</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Existing_Purchase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPurchaase</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_vehicle.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ownership</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vehicle_Price</targetReference>
            </connector>
            <label>Status is Purchase</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LoanAmountFormula</name>
        <dataType>Currency</dataType>
        <expression>{!Price_Quote_label}-(({!Price_Quote_label}*{!Discount})/100)-{!Down_Payment}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MonthlyPayment</name>
        <dataType>Currency</dataType>
        <expression>round({!Loan_Amount} *( {!Interest_Rate} /12/100)*((1+( {!Interest_Rate} /12/100))^ ({!Loan_term.value})) /(((1+( {!Interest_Rate} /12/100))^ ({!Loan_term.value})) -1),2)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DPA - (Screen Flow) Vehicle Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (Screen Flow) Vehicle Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Vehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>Get_vehicle.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>Get_vehicle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan_Application</name>
        <label>Create Loan Application</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>loanId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Vehicle_Loan</targetReference>
        </connector>
        <inputAssignments>
            <field>Downpayment__c</field>
            <value>
                <elementReference>Down_Payment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interest__c</field>
            <value>
                <elementReference>Interest_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Payment__c</field>
            <value>
                <elementReference>MonthlyPayment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>Loan_term.value</elementReference>
            </value>
        </inputAssignments>
        <object>Loan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_vehicle</name>
        <label>Get vehicle</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vehicle_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle</name>
        <label>Update Vehicle</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_vehicle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Manufacturing</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicles__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Vehicle_Loan</name>
        <label>Update Vehicle Loan</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Loan</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicles__c</object>
    </recordUpdates>
    <screens>
        <name>Existing_Purchase</name>
        <label>Existing Purchase</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textExistingPurchase</name>
            <fieldText>&lt;p&gt;This vehicle has already been purchased.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Calculator</name>
        <label>Loan Calculator</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loan_Details</targetReference>
        </connector>
        <fields>
            <name>Loan_Calculator_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Loan_Calculator_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price_Quote_label</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>priceVar</elementReference>
                    </defaultValue>
                    <fieldText>Price Quote</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Discount</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>5.0</numberValue>
                    </defaultValue>
                    <fieldText>Discount (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Down_Payment</name>
                    <dataType>Currency</dataType>
                    <fieldText>Down Payment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Loan_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>LoanAmountFormula</elementReference>
                    </defaultValue>
                    <fieldText>Loan Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Loan_Calculator_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Loan_term</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Loan Term (Months)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <numberValue>60.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Interest_Rate</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0855</numberValue>
                    </defaultValue>
                    <fieldText>Interest Rate</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                </fields>
                <fields>
                    <name>monthly_payment_label</name>
                    <fieldText>&lt;p&gt;{!$Label.style_success} &lt;span style=&quot;font-size: 18px;&quot;&gt;Monthly payment: ${!MonthlyPayment}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loan_Details</name>
        <label>Loan Details</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Loan_Application</targetReference>
        </connector>
        <fields>
            <name>loan_confirmation</name>
            <fieldText>&lt;p&gt;Loan agreement conditions:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!Down_Payment} down payment&lt;/li&gt;&lt;li&gt;{!Loan_term.value} months&lt;/li&gt;&lt;li&gt;{!MonthlyPayment} monthly payment&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Please submit for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit for Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Type</name>
        <label>Select payment type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>set_Payment_Type</targetReference>
        </connector>
        <fields>
            <name>Price_Quote_lab</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>priceVar</elementReference>
            </defaultValue>
            <fieldText>Price Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>inputPaymentType</name>
            <choiceReferences>Cash</choiceReferences>
            <choiceReferences>Loan</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Loan</defaultSelectedChoiceReference>
            <fieldText>Payment type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Vehicle_Price</name>
        <label>Get Vehicle Price</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Select_Payment_Type</targetReference>
        </connector>
        <flowName>DPA_BRE_Price_Quote</flowName>
        <inputAssignments>
            <name>Vehicle</name>
            <value>
                <elementReference>Get_vehicle</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>priceVar</assignToReference>
            <name>price</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Loan</stringValue>
        </value>
    </variables>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VehicleRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
