force-app/main/default/flows/DPA_RPA_DL_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Process_Status</name>
        <label>Get Process Status</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <actionName>ValidateLicensev2.getProcessesExecutionStatusV1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>is_RPA_process_successful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateLicensev2.getProcessesExecutionStatusV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Start_DL_Validation_Process</name>
        <label>Start DL Validation Process</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <actionName>ValidateLicensev2.startProcessV1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_Process_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RPA_Payload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateLicensev2.startProcessV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Increment_Retry_Number</name>
        <label>Increment Retry Number</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>retryNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CHeck_number_of_retries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RPA_PAyload</name>
        <label>Set RPA PAyload</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>RPA_Payload.executionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_DL_Validation_Process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CHeck_number_of_retries</name>
        <label>Check number of retries</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Process_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10_retries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>retryNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <label>5 retries</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_RPA_process_successful</name>
        <label>is RPA process successful</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Wait_for_1_min</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Started</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Status.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Driver_License</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Process_Status.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>error</stringValue>
                </rightValue>
            </conditions>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPA - (RPA) DL Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (RPA) DL Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Driver_License</name>
        <label>Create Driver License</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>driverLicenseId</assignRecordIdToReference>
        <connector>
            <targetReference>Attach_Driver_License</targetReference>
        </connector>
        <inputAssignments>
            <field>DL_Number__c</field>
            <value>
                <elementReference>Get_Process_Status.200.result.oneOfOutputArguments.outLicenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DOB__c</field>
            <value>
                <elementReference>Get_Process_Status.200.result.oneOfOutputArguments.outDateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Get_Process_Status.200.result.oneOfOutputArguments.outExpiryDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_date__c</field>
            <value>
                <elementReference>Get_Process_Status.200.result.oneOfOutputArguments.outIssueDate</elementReference>
            </value>
        </inputAssignments>
        <object>Drivers_License__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Attach_Driver_License</name>
        <label>Attach Driver License</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Driver_License_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driver_License__c</field>
            <value>
                <elementReference>driverLicenseId</elementReference>
            </value>
        </inputAssignments>
        <object>Vehicles__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_RPA_PAyload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>driverLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>retryNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RPA_Payload</name>
        <apexClass>ExternalService__ValidateLicensev2_ProcessExecutionWithExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RPA_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_1_min</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait for 1 min</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Increment_Retry_Number</targetReference>
            </connector>
            <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
        </waitEvents>
    </waits>
</Flow>
