force-app/main/default/flows/DPA_Screen_Flow_Test_Drive_Selection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>DPA - (Screen Flow) Test Drive Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (Screen Flow) Test Drive Selection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Save_VehicleID</name>
        <label>Save VehicleID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>testDriveSelector</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orchestrationRunId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </inputAssignments>
        <object>FlowOrchestrationInstance</object>
    </recordUpdates>
    <screens>
        <name>TestDriveConfirmation</name>
        <label>TestDriveConfirmation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>testDriveConfirmationLabel</name>
            <fieldText>&lt;p&gt;Your test drive is confirmed on {!Preferred_Date_and_Time}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>testDriveSelector</name>
        <label>testDriveSelector</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TestDriveConfirmation</targetReference>
        </connector>
        <fields>
            <name>TestDriveTitle</name>
            <fieldText>&lt;p&gt;Please select your test drive options&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preferred_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <fieldText>Preferred Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DriverLicense</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please upload your driving licence</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Save_VehicleID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orchestrationRunId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
