force-app/main/default/flows/DPA_Screen_Flow_Send_Quote_to_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Approval</name>
        <label>Set Approval</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>quoteApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_check_this_box_to_proceed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle_Status</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DPA - (Screen Flow) Send Quote to Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (Screen Flow) Send Quote to Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>quote_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Status</name>
        <label>Update Vehicle Status</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputReference>Get_Vehicle</inputReference>
    </recordUpdates>
    <screens>
        <name>quote_details</name>
        <label>quote_details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Approval</targetReference>
        </connector>
        <fields>
            <name>quote_details_text</name>
            <fieldText>&lt;p&gt;Here is your quote:&lt;/p&gt;&lt;p&gt;Price: ${!Get_Vehicle.Loan_Application__r.Price__c}&lt;/p&gt;&lt;p&gt;Down Payment: ${!Get_Vehicle.Loan_Application__r.Downpayment__c}&lt;/p&gt;&lt;p&gt;Interest Rate: {!Get_Vehicle.Loan_Application__r.Interest__c}&lt;/p&gt;&lt;p&gt;Term: {!Get_Vehicle.Loan_Application__r.Term__c} months&lt;/p&gt;&lt;p&gt;Monthly Payment: ${!Get_Vehicle.Loan_Application__r.Monthly_Payment__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_check_this_box_to_proceed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Please check this box to proceed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>loan_conditions</name>
            <fieldText>&lt;p&gt;A loan application has been submitted on your behalf and is being reviewed by our financial team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>paymentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Loan</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>paymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>quoteApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
