force-app/main/default/flows/DPA_Screen_Flow_Loan_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rejected</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>DPA - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (Screen Flow) Loan Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_vehicle</name>
        <label>get vehicle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Loan_Details</name>
        <label>Loan_Details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>loan_details_label</name>
            <fieldText>&lt;p&gt;Here are the details for the loan to approve:&lt;/p&gt;&lt;p&gt;Price: ${!get_vehicle.Loan_Application__r.Price__c}&lt;/p&gt;&lt;p&gt;Down Payment: ${!get_vehicle.Loan_Application__r.Downpayment__c}&lt;/p&gt;&lt;p&gt;Interest Rate: {!get_vehicle.Loan_Application__r.Interest__c}&lt;/p&gt;&lt;p&gt;Term: {!get_vehicle.Loan_Application__r.Term__c} months&lt;/p&gt;&lt;p&gt;Monthly Payment: ${!get_vehicle.Loan_Application__r.Monthly_Payment__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Approval</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you approve the proposed loan?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
