force-app/main/default/flows/DPA_Test_Drive_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Vehicle_Requirements</name>
        <label>Set Vehicle Requirements</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Model__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputModel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Battery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputBattery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Autopilot__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Autopilot_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Rear_Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rear_Seats_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Hydraulic_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Hydraulic_System_checkbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Vehicle.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>radioPaymentType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Vehicle_Requirements</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Autopilot</name>
        <choiceText>Autopilot</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autopilot</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cash</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceAvoidOpinions</name>
        <choiceText>Avoid imposing their opinions on you</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceDoubts</name>
        <choiceText>Address your doubts correctly and clearly</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceExplainFeatures</name>
        <choiceText>Explain all the features of the model with patience</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceHandlePurchaseDetails</name>
        <choiceText>Handle your purchase details in a timely and professional manner</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceInfoNeeded</name>
        <choiceText>Give the information you needed to find the right car for you</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choicePrioritizePreferences</name>
        <choiceText>Prioritize your preferences</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceRespectOpinions</name>
        <choiceText>Respect your opinions</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Flare</name>
        <choiceText>Flare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flash</name>
        <choiceText>Flash</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flash</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flint</name>
        <choiceText>Flint</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hydraulic_System</name>
        <choiceText>Hydraulic System</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hydraulic System</stringValue>
        </value>
    </choices>
    <choices>
        <name>Loan</name>
        <choiceText>Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Rear_Seats</name>
        <choiceText>Rear Seats</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rear Seats</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100_kWh</name>
        <choiceText>100 kWh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100 kWh</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100_PkWh</name>
        <choiceText>100 PkWh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100 PkWh</stringValue>
        </value>
    </choices>
    <choices>
        <name>X100P_kWh</name>
        <choiceText>100P kWh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100P kWh</stringValue>
        </value>
    </choices>
    <choices>
        <name>X75_kWh</name>
        <choiceText>75 kWh</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>75 kWh</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Survey_Type</name>
        <label>Survey Type</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Purchase_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Purchase</defaultConnectorLabel>
        <rules>
            <name>Test_Drive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>surveyType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Test Drive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Test_Drive_Survey</targetReference>
            </connector>
            <label>Test Drive</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_drive_results</name>
        <label>Test drive results</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Improve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not happy</defaultConnectorLabel>
        <rules>
            <name>Happy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPurchase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_info</targetReference>
            </connector>
            <label>Happy</label>
        </rules>
    </decisions>
    <description>Combined survey&apos;s for the test drive and purchase.
Input: Survey Type (Test Drive, Purchase), Vehicle ID</description>
    <environments>Default</environments>
    <interviewLabel>DPA_Test Drive Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA -  (Screen Flow) Test Drive &amp; Purchase Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Survey_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle_Requirements</name>
        <label>Update Vehicle Requirements</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputReference>Get_Vehicle</inputReference>
    </recordUpdates>
    <screens>
        <name>Improve</name>
        <label>Improve</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <fields>
            <name>inputImprove</name>
            <fieldText>How can we improve?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Purchase_Survey</name>
        <label>Purchase Survey</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <fields>
            <name>sliderOverallSatisfaction</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please rate your overall satisfaction with the buying experience.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>radioDeliveryTime</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are you satisfied with the delivery time offered?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>checkboxgroupServiceStaff</name>
            <choiceReferences>choiceDoubts</choiceReferences>
            <choiceReferences>choiceInfoNeeded</choiceReferences>
            <choiceReferences>choiceHandlePurchaseDetails</choiceReferences>
            <choiceReferences>choiceExplainFeatures</choiceReferences>
            <choiceReferences>choiceAvoidOpinions</choiceReferences>
            <choiceReferences>choicePrioritizePreferences</choiceReferences>
            <choiceReferences>choiceRespectOpinions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>During the purchase process, did the service staff (Check all that apply)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputImproveService</name>
            <fieldText>Is there any way we could improve our service?  Please specify below.</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_info</name>
        <label>Quote info</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Vehicle_Requirements</targetReference>
        </connector>
        <fields>
            <name>Quote_info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>inputModel</name>
                    <choiceReferences>Flint</choiceReferences>
                    <choiceReferences>Flare</choiceReferences>
                    <choiceReferences>Flash</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Model</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>inputBattery</name>
                    <choiceReferences>X75_kWh</choiceReferences>
                    <choiceReferences>X100_kWh</choiceReferences>
                    <choiceReferences>X100_PkWh</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Battery</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>features_label</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Features&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Rear_Seats_checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Rear Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Hydraulic_System_checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Hydraulic System</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Autopilot_checkbox</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Autopilot</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_info_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>radioPaymentType</name>
                    <choiceReferences>Cash</choiceReferences>
                    <choiceReferences>Loan</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Payment Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Drive_Survey</name>
        <label>Test Drive Survey</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Test_drive_results</targetReference>
        </connector>
        <fields>
            <name>Test_Drive_Survey_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Test_Drive_Survey_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Experience</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How was your overall experience during the test drive?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>carRating</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How would you rate the car?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Sales_Consultant</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>How would you rate the sales consultant’s behavior?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Doubts</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Did they address your doubts and properly brief you about the car?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Explore</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Were you allowed to explore all the features of the car comfortably?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Maintained</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Was the car clean and maintained?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>5.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Additional_Comments</name>
                    <fieldText>Additional Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>inputPurchase</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like a quote?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>textThankYou</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>quote_confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We will come back to you with a quote promptly!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>radioPaymentType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Loan</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>surveyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
