force-app/main/default/flows/DPA_RPA_Driving_License_Submission_Payload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_RPA_ValidateDL</name>
        <label>Invoke_RPA_ValidateDL</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>ValidateLicensev2.startProcessV1</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RPA_exec_payload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateLicensev2.startProcessV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>RPA_Payload_creation</name>
        <label>RPA Payload</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>RPA_exec_payload.inputArguments.inFileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>azdriverlicense.jpg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_exec_payload.executionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_RPA_ValidateDL</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DPA - (RPA) Driving License {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (RPA) Driving License Submission Payload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RPA_Payload_creation</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>RPA_exec_payload</name>
        <apexClass>ExternalService__ValidateLicensev2_ProcessExecutionWithExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
