force-app/main/default/flows/DPA_Price_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>add100PkWh</name>
        <label>+12,000</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>12000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifAutopilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add5000</name>
        <label>+$5000</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifAutopilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAutopilotPrice</name>
        <label>+5,000</label>
        <locationX>226</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hydraulic_System</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addBattery100kWh</name>
        <label>+10,000</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ifAutopilot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlarePrice</name>
        <label>+$40,000</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>40000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Battery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlashPrice</name>
        <label>+$50,000</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Battery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addFlintPrice</name>
        <label>+$30,000</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>30000.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Battery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addHydraulicPrice</name>
        <label>+1,100</label>
        <locationX>226</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rear_Seats</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRearSeatPrice</name>
        <label>+1,300</label>
        <locationX>226</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1300.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Price</name>
        <label>Return Price</label>
        <locationX>446</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Battery</name>
        <label>Check Battery</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X75_kWh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75 kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add5000</targetReference>
            </connector>
            <label>75 kWh</label>
        </rules>
        <rules>
            <name>X100_kWh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100 kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addBattery100kWh</targetReference>
            </connector>
            <label>100 kWh</label>
        </rules>
        <rules>
            <name>X100P_kWh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Battery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100P kWh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add100PkWh</targetReference>
            </connector>
            <label>100P kWh</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Model</name>
        <label>Check Model</label>
        <locationX>446</locationX>
        <locationY>434</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifModelFlint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlintPrice</targetReference>
            </connector>
            <label>Flint</label>
        </rules>
        <rules>
            <name>ifModelFlare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlarePrice</targetReference>
            </connector>
            <label>Flare</label>
        </rules>
        <rules>
            <name>ifModelFlash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Model__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addFlashPrice</targetReference>
            </connector>
            <label>Flash</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Vehicle</name>
        <label>Has Vehicle</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasVehicleTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_cehicle</targetReference>
            </connector>
            <label>False</label>
        </rules>
        <rules>
            <name>HasVehicleFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Model</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hydraulic_System</name>
        <label>Hydraulic System</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasHydraulicSystem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Hydraulic_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addHydraulicPrice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>noHydraulicSystem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Hydraulic_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rear_Seats</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifAutopilot</name>
        <label>Autopilot</label>
        <locationX>446</locationX>
        <locationY>1034</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAutopilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Autopilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addAutopilotPrice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>isntAutopilot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Autopilot__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hydraulic_System</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rear_Seats</name>
        <label>Rear Seats</label>
        <locationX>446</locationX>
        <locationY>1634</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasRearSeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Rear_Seats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addRearSeatPrice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>noRearSeats</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Vehicle.Rear_Seats__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Price</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DPA_Price Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (SubFlow) Price Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_cehicle</name>
        <label>Get cehicle</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vehicle.Id</elementReference>
            </value>
        </filters>
        <object>Vehicles__c</object>
        <outputReference>Vehicle</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Battery__c</queriedFields>
        <queriedFields>Autopilot__c</queriedFields>
        <queriedFields>Hydraulic_System__c</queriedFields>
        <queriedFields>Rear_Seats__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Vehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicles__c</objectType>
    </variables>
</Flow>
