force-app/main/default/flows/DPA_Vehicle_Purchase_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Has_Customer_Approved_the_Quote</name>
        <label>Has Customer Approved the Quote?</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Customer_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Quote_to_Customer.Outputs.quoteApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Payment</name>
        <label>Type of Payment</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Cash_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cash</defaultConnectorLabel>
        <rules>
            <name>Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Vehicle_Purchase.Outputs.paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Processing</targetReference>
            </connector>
            <label>Loan</label>
        </rules>
    </decisions>
    <description>This orchestration is used for a Digital Process Automation demo for Forrester</description>
    <environments>Default</environments>
    <interviewLabel>DPA - Vehicle Purchase Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>DPA - Vehicle Purchase Orchestration</label>
    <orchestratedStages>
        <name>Cash_Processing</name>
        <label>Cash Processing</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Order_Vehicle</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Generate_Invoice</name>
            <actionName>DPA_Generate_Invoice</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Generate Invoice</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Customer_Follow_Up</name>
        <label>Customer Follow Up</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Post_Sale_Customer_Journey</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Notify_Sales_Agent</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>This vehicle has been successfully delivered!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Congrats!</stringValue>
                </value>
            </inputParameters>
            <label>Notify Sales Agent</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Customer_Survey</name>
            <actionName>DPA_Test_Drive_Survey</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>jelani@sample.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>surveyType</name>
                <value>
                    <stringValue>Purchase</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Send Customer Survey</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Customer_On_Hold</name>
        <label>Customer On Hold</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Start_a_Marketing_Journey</name>
            <actionName>DPA_Start_a_Marketing_Journey</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Start a Marketing Journey</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Loan_Processing</name>
        <label>Loan Processing</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Order_Vehicle</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Loan_Officer</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned as the loan officer for this vehicle. Please review the information and create the loan agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Loan Officer Assignment</stringValue>
                </value>
            </inputParameters>
            <label>Assign Loan Officer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Loan_Approval</name>
            <actionName>DPA_Screen_Flow_Loan_Approval</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Loan Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>RPA_Loan_Submission_Payload</name>
            <actionName>DPA_RPA_Loan_Submission_Payload</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Loan_Approval.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(RPA) Loan Submission Payload</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>RPA_Loan_Submission</name>
            <actionName>LoanSubmissionRPABotAPI.startProcessNonIdempotentV1</actionName>
            <actionType>stepMuleSoft</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>RPA_Loan_Submission_Payload.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <elementReference>RPA_Loan_Submission_Payload.Outputs.RPA_body</elementReference>
                </value>
            </inputParameters>
            <label>(RPA) Loan Submission</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Order_Vehicle</name>
        <label>Order Vehicle</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Vehicle_Delivery</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Manufacturing</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>SAP_Order_Payload</name>
            <actionName>DPA_SAPECC_Order_Creation</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(SAP) Order Payload</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>SAP_Order_Creation</name>
            <actionName>SAPECCOrdersAPI.postOrder</actionName>
            <actionType>stepMuleSoft</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SAP_Order_Payload.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>generated</name>
                <value>
                    <elementReference>SAP_Order_Payload.Outputs.sap_body</elementReference>
                </value>
            </inputParameters>
            <label>(SAP) Order Creation</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>NetSuite_Order_Payload</name>
            <actionName>DPA_NetSuite_Order_Payload</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SAP_Order_Creation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>orderMemo</name>
                <value>
                    <elementReference>NetsuiteMemo</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(NetSuite) Order Payload</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>NetSuite_Order_Creation</name>
            <actionName>InvocableFlowCreateSalesOrderFlow221.invoke</actionName>
            <actionType>stepMuleSoft</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>NetSuite_Order_Payload.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <elementReference>NetSuite_Order_Payload.Outputs.payloadComposerInvoke</elementReference>
                </value>
            </inputParameters>
            <label>(NetSuite) Order Creation</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Post_Sale_Customer_Journey</name>
        <label>Post Sale Customer Journey</label>
        <locationX>182</locationX>
        <locationY>1235</locationY>
        <connector>
            <targetReference>X2_years_Warranty_Check</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Wait_for_3_months</name>
            <actionName>DPA_BRE_Price_Quote</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Vehicle</name>
            </inputParameters>
            <label>Wait for 3 months</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Identify_a_potential_add_on</name>
            <actionName>DPA_NetSuite_Order_Payload</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>orderMemo</name>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
            </inputParameters>
            <label>Identify a potential Add-On</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Upsell_the_Add_On</name>
            <actionName>cms_orch__CMS_NotifyRequester</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Feedback</name>
            </inputParameters>
            <inputParameters>
                <name>Reviewer</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Upsell the Add-On</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Price_Quote</name>
        <label>Price Quote</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Has_Customer_Approved_the_Quote</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Vehicle_Purchase</name>
            <actionName>DPA_Screen_Flow_Vehicle_Order</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>VehicleRecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Create Vehicle Purchase</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Quote_to_Customer</name>
            <actionName>DPA_Screen_Flow_Send_Quote_to_Customer</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>jelani@sample.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Create_Vehicle_Purchase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>paymentType</name>
                <value>
                    <elementReference>Create_Vehicle_Purchase.Outputs.paymentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Send Quote to Customer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Test_Drive</name>
        <label>Test Drive</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Price_Quote</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>Gather_Feedback_and_Preferences.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Assign_Sales_Agent</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned to a new opportunity, the customer has been invited to schedule a test drive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New opportunity assigned!</stringValue>
                </value>
            </inputParameters>
            <label>Assign Sales Agent</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Test_Drive_Scheduling</name>
            <actionName>DPA_Screen_Flow_Test_Drive_Selection</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>jelani@sample.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>orchestrationRunId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Test Drive Scheduling</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>RPA_Validate_Driving_License</name>
            <actionName>DPA_RPA_DL_Submission</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Test_Drive_Scheduling.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>[RPA] Validate Driving License</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Gather_Feedback_and_Preferences</name>
            <actionName>DPA_Test_Drive_Survey</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>jelani@sample.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Test_Drive_Scheduling.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>surveyType</name>
                <value>
                    <stringValue>Test Drive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Gather Feedback and Preferences</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Vehicle_Delivery</name>
        <label>Vehicle Delivery</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Customer_Follow_Up</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Delivery</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Assign_Service</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned as the delivery manager for this vehicle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Vehicle awaiting delivery</stringValue>
                </value>
            </inputParameters>
            <label>Assign Service Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team</name>
            <actionName>DPA_SLACK_Confirm_Delivery</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>netsuiteOrderId</name>
                <value>
                    <elementReference>$Record.Netsuite_Order_ID__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sapOrderId</name>
                <value>
                    <elementReference>SAP_Order_Creation.Outputs.201.SALESDOCUMENT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(SLACK) Send Delivery Confirmation Request to Service Team</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>X2_years_Warranty_Check</name>
        <label>2-years Warranty Check</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Battery_Warranty_Check</name>
            <actionName>DPA_BRE_Price_Quote</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Vehicle</name>
            </inputParameters>
            <label>Battery Warranty Check</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Prompt_the_customer_for_another_test_drive</name>
            <actionName>cms_orch__CMS_ReviewContent</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>jelani@sample.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>Feedback</name>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Prompt the customer for another test drive</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Drive</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <object>Vehicles__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>This memo is used to track the sales order in Netsuite</description>
        <name>NetsuiteMemo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order automatically created from Salesforce for vehicle {!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
