force-app/main/default/flows/DPA_RPA_Loan_Submission_Payload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>set_RPA_Payload</name>
        <label>set RPA Payload</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.educationLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Master</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>jelani.sample@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jelani</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Loan_Application__r.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Loan_Application__r.Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanPurpose</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.monthlyIncome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.monthlyObligations</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5000</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vehicle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+1 79 9292 83 83</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>DPA - (RPA) - Loan Submission Payload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DPA - (RPA) - Loan Submission Payload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Vehicle</name>
        <label>Get Vehicle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_RPA_Payload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vehicleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vehicle</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RPA_body</name>
        <apexClass>ExternalService__LoanSubmissionRPABotAPI_ProcessExecutionWithoutExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vehicleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
