force-app/main/default/flows/New_Vehicle_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Cash</name>
        <choiceText>Cash</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Loan</name>
        <choiceText>Loan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loan</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_payment_type</name>
        <label>Check payment type</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cash</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>Cash</label>
        </rules>
        <rules>
            <name>isLoan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputPaymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <label>Loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vehicle_Status</name>
        <label>Check Vehicle Status</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Existing_Purchase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPurchaase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VehicleRecord.Billing_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Price</targetReference>
            </connector>
            <label>Status is Purchase</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[OLD] New Vehicle Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Vehicle</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>VehicleRecord.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle__c</field>
            <value>
                <elementReference>VehicleRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_vehicle</name>
        <label>Get vehicle</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Vehicle_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicles__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Vehicle</name>
        <label>Update Vehicle</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VehicleRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Type__c</field>
            <value>
                <stringValue>Cash</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Manufacturing</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicles__c</object>
    </recordUpdates>
    <screens>
        <name>Existing_Purchase</name>
        <label>Existing Purchase</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textExistingPurchase</name>
            <fieldText>&lt;p&gt;This vehicle has already been purchased.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Payment_Type</name>
        <label>Select payment type</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_payment_type</targetReference>
        </connector>
        <fields>
            <name>Price_Quote</name>
            <dataType>String</dataType>
            <fieldText>Price Quote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>inputPaymentType</name>
            <choiceReferences>Cash</choiceReferences>
            <choiceReferences>Loan</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_vehicle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Select_Payment_Type</targetReference>
        </connector>
        <flowName>DPA_Price_Quote</flowName>
        <outputAssignments>
            <assignToReference>priceVar</assignToReference>
            <name>price</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>price</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priceVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VehicleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Vehicles__c</objectType>
    </variables>
</Flow>
