force-app/main/default/flows/Reactive_Step_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Reactive Step Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reactive Step Demo</label>
    <orchestratedStages>
        <name>Create_Order_in_Netsuite</name>
        <label>Create Order in Netsuite</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Show_Order_Status</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.NetSuite_Order_ID__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Get_order_details</name>
            <actionName>Netsuite_Order_Details</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>[Netsuite] Get order details</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Netsuite_Create_Payload</name>
            <actionName>DPA_NetSuite_Order_Payload</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Get_order_details.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>orderMemo</name>
                <value>
                    <elementReference>Get_order_details.Outputs.memo</elementReference>
                </value>
            </inputParameters>
            <label>[Netsuite] Create Payload</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Netsuite_Create_Order</name>
            <actionName>InvocableFlowCreateSalesOrderNetsuite.invoke</actionName>
            <actionType>stepMuleSoft</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Netsuite_Create_Payload.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <elementReference>Netsuite_Create_Payload.Outputs.ComposerPayload</elementReference>
                </value>
            </inputParameters>
            <label>[Netsuite] Create Order</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Show_Order_Status</name>
        <label>Show Order Status</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Show_Netsuite_Order</name>
            <actionName>Display_Order_Status</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <elementReference>$Record.Owner:User.Username</elementReference>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>caseId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Show Netsuite Order</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Order_in_Netsuite</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
