force-app/main/default/flows/TestFlowOrchestrationMuleSteps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>_TESTING {!$Flow.CurrentDateTime}</interviewLabel>
    <label>_TestFlow_Orchestration_MuleSteps</label>
    <orchestratedStages>
        <name>Log_Call</name>
        <label>Log Call</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Background_Step_1_of_Log_Call</name>
            <actionName>TestFlow_MuleStep_Call_Logging</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>id</name>
                <value>
                    <elementReference>MuleSoft_Step_2_of_Testing_MuleSteps.Outputs.201.SALESDOCUMENT</elementReference>
                </value>
            </inputParameters>
            <label>Background Step 1 of Log Call</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Prepare</name>
        <label>Prepare</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Testing_MuleSteps</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
    </orchestratedStages>
    <orchestratedStages>
        <name>Testing_MuleSteps</name>
        <label>Testing MuleSteps</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Log_Call</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>MuleSoft_Step_2_of_Testing_MuleSteps</name>
            <actionName>SAPECCOrdersAPI.postOrder</actionName>
            <actionType>stepMuleSoft</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Background_Step_2_of_Testing_MuleSteps.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>generated</name>
                <value>
                    <elementReference>Background_Step_2_of_Testing_MuleSteps.Outputs.sap_body</elementReference>
                </value>
            </inputParameters>
            <label>MuleSoft Step 2 of Testing MuleSteps</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>MuleSoftStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Background_Step_2_of_Testing_MuleSteps</name>
            <actionName>DPA_SAPECC_Order_Creation</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>sap_body</name>
            </inputParameters>
            <label>Background Step 2 of Testing MuleSteps</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Prepare</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
