force-app/main/default/flows/TestFlow_Composer_NetSuite_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invokeComposerFlow221</name>
        <label>invokeComposerFlow221</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>InvocableFlowCreateSalesOrderFlow221.invoke</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ComposerPayloadIn</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableFlowCreateSalesOrderFlow221.invoke</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Composer_payload</name>
        <label>Composer Payload</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ComposerPayloadIn.accountInternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComposerPayloadIn.itemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>itemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComposerPayloadIn.vehicleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a001Q000017j1alQAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComposerPayloadIn.memo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ComposerPayloadIn.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>invokeComposerFlow221</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>_TestFlow_Composer_NetSuite_Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>_TestFlow_Composer_NetSuite_Orders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Composer_payload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComposerPayload</name>
        <apexClass>ExternalService__InvocableFlowCreateSalesOrderNetsuite_invoke_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ComposerPayloadIn</name>
        <apexClass>ExternalService__InvocableFlowCreateSalesOrderFlow221_invoke_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>694866</stringValue>
        </value>
    </variables>
    <variables>
        <name>itemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>10373</stringValue>
        </value>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>From Flow</stringValue>
        </value>
    </variables>
    <variables>
        <name>notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>From Salesforce Flow TEST123</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5001Q00001Vcz84QAB</stringValue>
        </value>
    </variables>
</Flow>
