force-app/main/default/flows/TestFlow_RPA_Loan_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_RPA</name>
        <label>Execute RPA</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>LoanSubmissionRPABotAPI.startProcessNonIdempotentV1</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>RPA_body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LoanSubmissionRPABotAPI.startProcessNonIdempotentV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>set_RPA_Payload</name>
        <label>set RPA Payload</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.educationLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>educationLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanPeriod</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.loanPurpose</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loanPurpose</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.monthlyIncome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>monthyIncome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.monthlyObligations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>monthlyObligation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.notes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RPA_body.inputArguments.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_RPA</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>_TestFlow_RPA_Loan_Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>_TestFlow_RPA_Loan_Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_RPA_Payload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Germany</stringValue>
        </value>
    </variables>
    <variables>
        <name>educationLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Student</stringValue>
        </value>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>hans.peter@hpe.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Hans</stringValue>
        </value>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Peter</stringValue>
        </value>
    </variables>
    <variables>
        <name>loanAmount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>20000</stringValue>
        </value>
    </variables>
    <variables>
        <name>loanDuration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>48 month</stringValue>
        </value>
    </variables>
    <variables>
        <name>loanPurpose</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Shop</stringValue>
        </value>
    </variables>
    <variables>
        <name>monthlyObligation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>5000</stringValue>
        </value>
    </variables>
    <variables>
        <name>monthyIncome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>10000</stringValue>
        </value>
    </variables>
    <variables>
        <name>notes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>He is the boss</stringValue>
        </value>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00 79 9292 83 83</stringValue>
        </value>
    </variables>
    <variables>
        <name>RPA_body</name>
        <apexClass>ExternalService__LoanSubmissionRPABotAPI_ProcessExecutionWithoutExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
