force-app/main/default/flows/TestFlow_SAP_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Order_to_ECC</name>
        <label>Submit Order to ECC</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>SAPECCOrdersAPI.postOrder</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>generated</name>
            <value>
                <elementReference>sap_body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SAPECCOrdersAPI.postOrder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>set_Payload</name>
        <label>set Payload</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>sap_body.CUSTOMER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.DISTRx5fCHAN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>distributionChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.DIVISION</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>division</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.MATERIAL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.PLANT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>plant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.PURCHx5fNO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>purchaseNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.SALESx5fORG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salesOrg</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sap_body.TARGETx5fQTY</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Order_to_ECC</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>_TestFlow_SAP_Order_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>_TestFlow_SAP_Order_Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_Payload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0000000007</stringValue>
        </value>
    </variables>
    <variables>
        <name>distributionChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>10</stringValue>
        </value>
    </variables>
    <variables>
        <name>division</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00</stringValue>
        </value>
    </variables>
    <variables>
        <name>plant</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3000</stringValue>
        </value>
    </variables>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MULETEST0</stringValue>
        </value>
    </variables>
    <variables>
        <name>purchaseNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>202020</stringValue>
        </value>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1</stringValue>
        </value>
    </variables>
    <variables>
        <name>salesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>3000</stringValue>
        </value>
    </variables>
    <variables>
        <name>sap_body</name>
        <apexClass>ExternalService__SAPECCOrdersAPI_OrderDataType</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
