force-app/main/default/flows/Test_DPA_Vehicle_Purchase_Orchestration_without_Mule_Steps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Has_Customer_Approved_the_Quote</name>
        <label>Has Customer Approved the Quote?</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Customer_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Send_Quote_to_Customer.Outputs.quoteApproved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_of_Payment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Payment</name>
        <label>Type of Payment</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Cash_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cash</defaultConnectorLabel>
        <rules>
            <name>Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Vehicle_Purchase.Outputs.paymentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loan_Processing</targetReference>
            </connector>
            <label>Loan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Test - DPA - Vehicle Purchase Orchestration without Mule Steps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test - DPA - Vehicle Purchase Orchestration without Mule Steps</label>
    <orchestratedStages>
        <name>Cash_Processing</name>
        <label>Cash Processing</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Order_Vehicle</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Generate_Invoice</name>
            <actionName>DPA_Generate_Invoice</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Generate Invoice</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Customer_Follow_Up</name>
        <label>Customer Follow Up</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Notify_Sales_Agent</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>This vehicle has been successfully delivered!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Congrats!</stringValue>
                </value>
            </inputParameters>
            <label>Notify Sales Agent</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Customer_Survey</name>
            <actionName>DPA_Screen_Flow_Customer_Survey</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Send Customer Survey</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Customer_On_Hold</name>
        <label>Customer On Hold</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Start_a_Marketing_Journey</name>
            <actionName>DPA_Start_a_Marketing_Journey</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <label>Start a Marketing Journey</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Loan_Processing</name>
        <label>Loan Processing</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <connector>
            <targetReference>Order_Vehicle</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Loan_Officer</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned as the loan officer for this vehicle. Please review the information and create the loan agreement</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Loan Officer Assignment</stringValue>
                </value>
            </inputParameters>
            <label>Assign Loan Officer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Loan_Approval</name>
            <actionName>DPA_Screen_Flow_Loan_Approval</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Loan Approval</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>RPA_Loan_Submission</name>
            <actionName>TestFlow_RPA_Loan_Submission</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>Switzerland</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>educationLevel</name>
                <value>
                    <stringValue>Engineer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>email</name>
                <value>
                    <stringValue>hans.peter@hp.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <stringValue>Hans</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <stringValue>Peter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loanAmount</name>
                <value>
                    <stringValue>20000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loanDuration</name>
                <value>
                    <stringValue>48 month</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>loanPurpose</name>
                <value>
                    <stringValue>Car</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>monthlyObligation</name>
                <value>
                    <stringValue>2000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>monthyIncome</name>
                <value>
                    <stringValue>6000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notes</name>
                <value>
                    <stringValue>Works in IT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>phone</name>
                <value>
                    <stringValue>+41765037786</stringValue>
                </value>
            </inputParameters>
            <label>[RPA] Loan Submission</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Order_Vehicle</name>
        <label>Order Vehicle</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Vehicle_Delivery</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Manufacturing</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>SAP_Order_Payload</name>
            <actionName>TestFlow_SAP_Order_Creation</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <stringValue>0000000007</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>distributionChannel</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>division</name>
                <value>
                    <stringValue>00</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>plant</name>
                <value>
                    <stringValue>3000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>product</name>
                <value>
                    <stringValue>MULETEST0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>purchaseNo</name>
                <value>
                    <stringValue>1029384</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>quantity</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesOrg</name>
                <value>
                    <stringValue>3000</stringValue>
                </value>
            </inputParameters>
            <label>(SAP) Order Payload</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>NetSuite_Order_Payload</name>
            <actionName>TestFlow_Composer_NetSuite_Orders</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>SAP_Order_Payload.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>customerId</name>
                <value>
                    <stringValue>694866</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>itemId</name>
                <value>
                    <stringValue>10373</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>name</name>
                <value>
                    <stringValue>My Sales Order</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>notes</name>
                <value>
                    <stringValue>694866</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(NetSuite) Order Payload</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Price_Quote</name>
        <label>Price Quote</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <connector>
            <targetReference>Has_Customer_Approved_the_Quote</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Create_Vehicle_Purchase</name>
            <actionName>DPA_Screen_Flow_Vehicle_Order</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>VehicleRecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Create Vehicle Purchase</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Send_Quote_to_Customer</name>
            <actionName>DPA_Screen_Flow_Send_Quote_to_Customer</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Create_Vehicle_Purchase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>paymentType</name>
                <value>
                    <elementReference>Create_Vehicle_Purchase.Outputs.paymentType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Send Quote to Customer</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Test_Drive</name>
        <label>Test Drive</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Price_Quote</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>Assign_Sales_Agent</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned to a new opportunity, the customer has been invited to schedule a test drive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>New opportunity assigned!</stringValue>
                </value>
            </inputParameters>
            <label>Assign Sales Agent</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Test_Drive_Scheduling</name>
            <actionName>DPA_Screen_Flow_Test_Drive_Selection</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>orchestrationRunId</name>
                <value>
                    <elementReference>$Orchestration.Instance</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Test Drive Scheduling</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>RPA_Submit_Driving_License</name>
            <actionName>TestFlow_RPA_DL_Submission</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>Test_Drive_Scheduling.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>RPA_Payload</name>
            </inputParameters>
            <label>(RPA) Submit Driving License</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>Gather_Customer_Feedback_and_Preferences</name>
            <actionName>DPA_Test_Drive_Survey</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>acabot@dreamforce.com</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>$Record.Driver_License__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>surveyType</name>
                <value>
                    <stringValue>Test Drive</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>vehicle</name>
                <value>
                    <elementReference>$Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Gather Customer Feedback and Preferences</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>InteractiveStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>Vehicle_Delivery</name>
        <label>Vehicle Delivery</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Customer_Follow_Up</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Delivery</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>Assign_Service</name>
            <actionName>DPA_Send_Custom_Notification</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>body</name>
                <value>
                    <stringValue>You have been assigned as the delivery manager for this vehicle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recipientId</name>
                <value>
                    <stringValue>0051Q00000dN2xRQAS</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Vehicle awaiting delivery</stringValue>
                </value>
            </inputParameters>
            <label>Assign Service Manager</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
        <stageSteps>
            <name>SLACK_Send_Delivery_Confirmation_Request_to_Service_Team</name>
            <actionName>DPA_SLACK_Confirm_Delivery</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>vehicleId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>(SLACK) Send Delivery Confirmation Request to Service Team</label>
            <requiresAsyncProcessing>true</requiresAsyncProcessing>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_Drive</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Evaluation</stringValue>
            </value>
        </filters>
        <object>Vehicles__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>This memo is used to track the sales order in Netsuite</description>
        <name>NetsuiteMemo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Order automatically created from Salesforce for vehicle {!$Record.Id}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
