force-app/main/default/flows/Test_Drivers_License_Validate_RPA_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Status_of_Execution</name>
        <label>Get Status of Execution</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <actionName>ValidateLicensev2.getProcessesExecutionStatusV1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>RPA_Process_Complete</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>executionId</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateLicensev2.getProcessesExecutionStatusV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>start_Process_DL_Validation</name>
        <label>start Process DL Validation</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>ValidateLicensev2.startProcessV1</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Get_Status_of_Execution</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>payloadDL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ValidateLicensev2.startProcessV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>payloadDLnotEmpty</name>
        <label>payload</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>payloadDL.executionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_RPA_Process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>RPA_Process_Complete</name>
        <label>RPA Process Complete?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Validation_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status_of_Execution.200.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Output</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>_Test Drivers License Validate RPA (Screen Flow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>_Test Drivers License Validate RPA (Screen Flow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Get_Validation_Status</name>
        <label>Get Validation Status</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Status_of_Execution</targetReference>
        </connector>
        <fields>
            <name>validationStatus</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;RPA Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;strong&gt;{!&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Get_Status_of_Execution&lt;/strong&gt;&lt;strong&gt;.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Status_of_Execution.200.status}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Process_Output</name>
        <label>Process Output</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textRPAOutput</name>
            <fieldText>&lt;p&gt;DOB: {!Get_Status_of_Execution.200.result.oneOfOutputArguments.outDateOfBirth}&lt;/p&gt;&lt;p&gt;Issue Date: {!Get_Status_of_Execution.200.result.oneOfOutputArguments.outIssueDate}&lt;/p&gt;&lt;p&gt;Expiration Date: {!Get_Status_of_Execution.200.result.oneOfOutputArguments.outExpiryDate}&lt;/p&gt;&lt;p&gt;DL Number: {!Get_Status_of_Execution.200.result.oneOfOutputArguments.outLicenceNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_RPA_Process</name>
        <label>Start RPA Process</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>start_Process_DL_Validation</targetReference>
        </connector>
        <fields>
            <name>textStartRPAProcess</name>
            <fieldText>&lt;p&gt;Starte RPA Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Start</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>payloadDLnotEmpty</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>dlPayload</name>
        <apexClass>ExternalService__ValidateLicensev2_ProcessExecutionWithExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payload</name>
        <apexClass>ExternalService__ValidateLicensev2_ProcessExecutionWithoutExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payloadDL</name>
        <apexClass>ExternalService__ValidateLicensev2_ProcessExecutionWithExecutionId</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
